.content {
    margin: 2rem;
}
.Crypt {
    font-size: 1.2rem;
    font-weight: bold;
}
.Crypt1 {
    font-size: 1.3rem;
    font-weight: bold;
}
.encrypt {
    margin: 3rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 1rem;
    padding: 2rem;
}
.dropdown {
    float: right;
    margin: 0.5rem;
}
.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.paraContainer {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 1rem;
}
.para {
    font-size: 2rem;
    font-weight: bold;
}
.division {
    width: 35%; /* Each division takes up a smaller portion on larger screens */
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(164, 164, 164);
    margin: 3rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
}
.division input {
    padding: 0.2rem;
    border: none;
    border-radius: 0.3rem;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center; /* Center align items for smaller screens */
    }
    .division {
        width: 90%; /* Increase width for mobile screens */
        margin: 1rem; /* Reduce margin for better fit */
    }
    .para {
        font-size: 1.5rem; /* Reduce text size for better fit */
    }
}
